In [5]:
import pandas as pd
import matplotlib as plt
world = pd.read_csv('/Users/bobbiewilliams/Desktop/SQL And Phyton 2025 projects/Data for Phyton Course/2018-2019 Happiness.csv')
airbnb = pd.read_csv('/Users/bobbiewilliams/Desktop/SQL And Phyton 2025 projects/Data for Phyton Course/airbnb.csv')
salaries = pd.read_csv('/Users/bobbiewilliams/Desktop/SQL And Phyton 2025 projects/Data for Phyton Course/salaries.csv')
sales = pd.read_csv('/Users/bobbiewilliams/Desktop/SQL And Phyton 2025 projects/Data for Phyton Course/web_sales.csv')
eth = pd.read_csv('/Users/bobbiewilliams/Desktop/SQL And Phyton 2025 projects/All+course+files/All course files/Python Section/Ethereum Historical Data.csv', index_col = 0)

In [5]:
airbnb.info() #dealing with null

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9774 entries, 0 to 9773
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Host Id                     9774 non-null   int64
 1   Host Since                  9771 non-null   object
 2   Name                        9774 non-null   object
 3   Neighbourhood               9774 non-null   object
 4   Property Type               9772 non-null   object
 5   Review Scores Rating (bin)  8027 non-null   float64
 6   Room Type                   9774 non-null   object
 7   Zipcode                     9718 non-null   float64
 8   Beds                        9745 non-null   float64
 9   Number of Records           9773 non-null   float64
 10  Number Of Reviews           9773 non-null   float64
 11  Price                       9773 non-null   float64
 12  Review Scores Rating        8026 non-null   float64
dtypes: float64(7), int64(1), object(5)
memory usage: 992.8+ KB

In [7]:
airbnb.isna().sum() # reviewing how many nulls for each columns

Host Id                          0
Host Since                       3
Name                             0
Neighbourhood                    0
Property Type                    2
Review Scores Rating (bin)    1747
Room Type                        0
Zipcode                         56
Beds                            29
Number of Records                1
Number Of Reviews                1
Price                            1
Review Scores Rating          1748
dtype: int64

In [16]:
airbnb[airbnb['Review Scores Rating'].isna()]
airbnb_no_reviews = airbnb[airbnb['Review Scores Rating'].isna()]
airbnb_no_reviews
#showing the airbnb that is showing up without reviews

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
0,5162530,NaN,1 Bedroom in Prime Williamsburg,Brooklyn,Apartment,NaN,Entire home/apt,11249.0,1.0,1.0,0.0,145.0,NaN
1,33134899,NaN,"Sunny, Private room in Bushwick",Brooklyn,Apartment,NaN,Private room,11206.0,1.0,1.0,1.0,37.0,NaN
2,39608626,NaN,Sunny Room in Harlem,Manhattan,Apartment,NaN,Private room,10032.0,1.0,1.0,1.0,28.0,NaN
3,500,26/06/2008,Gorgeous 1 BR with Private Balcony,Manhattan,Apartment,NaN,Entire home/apt,10024.0,3.0,1.0,0.0,199.0,NaN
13,2787,7/09/2008,Renovated and spacious townhome,Brooklyn,House,NaN,Private room,11223.0,1.0,1.0,0.0,68.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9750,3962602,24/10/2012,Beautiful East Village Bedroom,Manhattan,Apartment,NaN,Private room,10009.0,1.0,1.0,0.0,100.0,NaN
9759,3977023,25/10/2012,"Cozy Room in Clinton Hill, Bk",Brooklyn,Apartment,NaN,Private room,11205.0,1.0,1.0,0.0,70.0,NaN
9764,3972617,25/10/2012,Upper east side luxury bog!!,Manhattan,Apartment,NaN,Private room,10128.0,1.0,1.0,0.0,175.0,NaN
9765,3974808,25/10/2012,Comfortable room near everything,Queens,Apartment,NaN,Private room,11105.0,1.0,1.0,0.0,150.0,NaN
9773,3983483,26/10/2012,"Luxury 1BR - Times Square, Theaters",Manhattan,Apartment,90.0,Entire,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
#seeing listing with reviews
airbnb_reviewed = airbnb[airbnb['Review Scores Rating'].notna()]

In [20]:
airbnb_reviewed

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
4,500,26/06/2008,Trendy Times Square Loft,Manhattan,Apartment,95.0,Private room,10036.0,3.0,1.0,39.0,549.0,96.0
5,1039,25/07/2008,Big Greenpoint 1BD w/ Skyline View,Brooklyn,Apartment,100.0,Entire home/apt,11222.0,1.0,1.0,4.0,149.0,100.0
6,1783,12/08/2008,Amazing Also,Manhattan,Apartment,100.0,Entire home/apt,10004.0,1.0,1.0,9.0,250.0,100.0
7,2078,15/08/2008,"Colorful, quiet, & near the subway!",Brooklyn,Apartment,90.0,Private room,11201.0,1.0,1.0,80.0,90.0,94.0
8,2339,20/08/2008,East Village Cocoon: 2 Bedroom Flat,Manhattan,Apartment,90.0,Entire home/apt,10009.0,2.0,1.0,95.0,270.0,90.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9768,3983140,26/10/2012,Light-Filled Prospect Height Apt.,Brooklyn,Apartment,95.0,Entire home/apt,11238.0,1.0,1.0,38.0,200.0,99.0
9769,3984304,26/10/2012,Beautiful Huge Sunny Brooklyn Loft,Brooklyn,Loft,90.0,Entire home/apt,11205.0,1.0,1.0,9.0,105.0,93.0
9770,3981805,26/10/2012,_Boutique East Village Flat,Manhattan,Apartment,90.0,Entire home/apt,10003.0,2.0,1.0,23.0,199.0,91.0
9771,3984166,26/10/2012,East Village 2 Bedroom Apartment,Manhattan,Apartment,100.0,Entire home/apt,10009.0,2.0,1.0,5.0,240.0,100.0
9772,3982378,26/10/2012,Perfect 2BD in the heart of it all!,Manhattan,Apartment,85.0,Entire home/apt,10019.0,2.0,1.0,5.0,400.0,88.0

In [23]:
#drop na reviewing the null values. remove the zip codes that are nulls  
airbnb[airbnb['Zipcode'].isna()]

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
133,13654,16/04/2009,Room with a view in Central Harlem,Manhattan,Apartment,85.0,Private room,NaN,1.0,1.0,11.0,75.0,85.0
234,30990,11/08/2009,Stay in the Meatpacking District!,Manhattan,Apartment,95.0,Entire home/apt,NaN,1.0,1.0,109.0,249.0,95.0
333,47716,22/10/2009,$45 L train/ 1 bedroom Brooklyn,Brooklyn,Apartment,85.0,Private room,NaN,2.0,1.0,56.0,49.0,85.0
368,52677,9/11/2009,Columbus Avenue Apartment,Manhattan,Apartment,NaN,Private room,NaN,1.0,1.0,0.0,190.0,NaN
426,58366,29/11/2009,"Lincoln Center luxury condo,",Manhattan,Apartment,90.0,Entire home/apt,NaN,1.0,1.0,37.0,280.0,93.0
464,60944,7/12/2009,Alcove Studio West Village DrmnBldg,Manhattan,Apartment,NaN,Entire home/apt,NaN,1.0,1.0,0.0,198.0,NaN
583,72808,23/01/2010,Coney island Entire Apt Safari Wi F,Brooklyn,Apartment,90.0,Entire home/apt,NaN,2.0,1.0,83.0,105.0,90.0
705,101172,30/03/2010,1 BR loft 5 min walk to Time Sq,Manhattan,Apartment,85.0,Entire home/apt,NaN,3.0,1.0,140.0,150.0,89.0
706,101172,30/03/2010,1BR w/terrace 5 min walk to Time Sq,Manhattan,Apartment,85.0,Entire home/apt,NaN,3.0,1.0,78.0,150.0,86.0
707,101172,30/03/2010,Luxury 1BR 5 min walk to Time Sq,Manhattan,Apartment,85.0,Entire home/apt,NaN,3.0,1.0,200.0,150.0,86.0
708,101172,30/03/2010,Modern 1 BR 5 min walk to Time Sq,Manhattan,Apartment,85.0,Entire home/apt,NaN,3.0,1.0,79.0,150.0,89.0
709,101172,30/03/2010,Unique Loft 5 min walk to Time Sq,Manhattan,Apartment,80.0,Entire home/apt,NaN,3.0,1.0,35.0,150.0,84.0
1422,250633,1/10/2010,Historic Ditmas Park Brooklyn,Brooklyn,Apartment,100.0,Private room,NaN,1.0,1.0,3.0,65.0,100.0
1629,283395,10/11/2010,Hip Loft Style Apt. IDEAL Location!,Manhattan,Apartment,100.0,Entire home/apt,NaN,2.0,1.0,1.0,350.0,100.0
1633,283395,10/11/2010,Double BEDRM in Loft Ideal Location,Manhattan,Apartment,85.0,Private room,NaN,1.0,1.0,36.0,125.0,86.0
1707,299015,25/11/2010,1-BR Apt in the Heart of Manhattan,Manhattan,Apartment,90.0,Entire home/apt,NaN,1.0,1.0,9.0,180.0,91.0
1731,304081,29/11/2010,"Great Studio, Great Location",Manhattan,Apartment,95.0,Entire home/apt,NaN,1.0,1.0,26.0,160.0,95.0
1930,335272,4/01/2011,Summer Green Quiet Room Park Slope,Brooklyn,House,95.0,Private room,NaN,1.0,1.0,99.0,96.0,96.0
2085,389924,13/02/2011,Gorgeous French Garden cottage-N 8t,Brooklyn,Apartment,90.0,Entire home/apt,NaN,1.0,1.0,38.0,189.0,92.0
2087,390251,13/02/2011,MI CASA ES TU CASA,Manhattan,Apartment,80.0,Entire home/apt,NaN,2.0,1.0,4.0,139.0,80.0
2643,580566,11/05/2011,"Big bright room, great neighborhood",Brooklyn,Apartment,85.0,Private room,NaN,1.0,1.0,7.0,60.0,89.0
2672,593927,16/05/2011,Modern apartment / Perfect Location,Manhattan,Apartment,NaN,Entire home/apt,NaN,1.0,1.0,0.0,600.0,NaN
3058,732985,22/06/2011,Perfect Pied a Terre in Meatpacking,Manhattan,Apartment,95.0,Entire home/apt,NaN,1.0,1.0,9.0,225.0,97.0
3120,751530,27/06/2011,Room in three-Bedroom Apartment,Brooklyn,Apartment,NaN,Entire home/apt,NaN,1.0,1.0,0.0,10.0,NaN
4013,1179779,19/09/2011,Private loft with 2 beds /bathroom,Brooklyn,Apartment,90.0,Entire home/apt,NaN,2.0,1.0,43.0,123.0,92.0
4479,1349430,29/10/2011,Huge beautiful 1 bedroom loft,Brooklyn,Apartment,90.0,Entire home/apt,NaN,2.0,1.0,58.0,140.0,93.0
4619,1394049,10/11/2011,PRIVATE BATH & ROOM,Manhattan,Apartment,85.0,Private room,NaN,2.0,1.0,113.0,85.0,89.0
4620,1394049,10/11/2011,PRIVATE ROOM & BATH,Manhattan,Apartment,90.0,Private room,NaN,2.0,1.0,108.0,99.0,90.0
4815,1439416,24/11/2011,STUNNING 2 BDRM - TIMES SQUARE,Manhattan,Apartment,90.0,Entire home/apt,NaN,5.0,1.0,56.0,450.0,91.0
5028,1494118,11/12/2011,Peaceful Townhouse Duplex,Brooklyn,House,100.0,Entire home/apt,NaN,2.0,1.0,2.0,350.0,100.0
5164,1528912,22/12/2011,Nice Private Room Beauty in Queens,Queens,Apartment,95.0,Private room,NaN,1.0,1.0,23.0,59.0,95.0
5607,1708418,6/02/2012,Sunny 1BR loft TIME SQUARE,Manhattan,Apartment,90.0,Entire home/apt,NaN,1.0,1.0,6.0,170.0,90.0
5848,1826769,28/02/2012,Cozy apt in heart of Williamsburg!,Brooklyn,Apartment,95.0,Entire home/apt,NaN,1.0,1.0,63.0,220.0,98.0
5884,1834658,29/02/2012,HUGE ROOM IN THE BEST AREA!!!,Brooklyn,Apartment,NaN,Private room,NaN,2.0,1.0,0.0,135.0,NaN
6398,2093542,8/04/2012,Beautiful room in Williamsburg,Brooklyn,Apartment,NaN,Private room,NaN,1.0,1.0,0.0,95.0,NaN
6696,2260108,30/04/2012,Charming sunny studio - Boerum Hill,Brooklyn,Apartment,100.0,Entire home/apt,NaN,1.0,1.0,1.0,120.0,100.0
6924,2347313,11/05/2012,City Skyline Views by Bedford Ave,Brooklyn,Apartment,95.0,Entire home/apt,NaN,2.0,1.0,17.0,175.0,99.0
6954,2358573,13/05/2012,"Light, spacious and central!",Manhattan,Apartment,95.0,Entire home/apt,NaN,2.0,1.0,12.0,260.0,98.0
7207,2496464,29/05/2012,Unique NYDesigner apt min from all!,Brooklyn,House,90.0,Entire home/apt,NaN,2.0,1.0,27.0,160.0,93.0
7490,2648940,15/06/2012,Crown Heights retreat near 2 train!,Brooklyn,Apartment,NaN,Private room,NaN,1.0,1.0,0.0,100.0,NaN
7791,2781725,29/06/2012,COSY AND SPACIOUS ROOM IN BROOKLYN,Brooklyn,Apartment,90.0,Private room,NaN,1.0,1.0,10.0,52.0,94.0
8089,2966244,17/07/2012,Comfortable 1br in West Village,Manhattan,Apartment,90.0,Entire home/apt,NaN,1.0,1.0,2.0,200.0,90.0
8356,3114604,31/07/2012,Beautiful room/ Double bed,Queens,Apartment,NaN,Private room,NaN,1.0,1.0,0.0,84.0,NaN
8362,3126013,1/08/2012,"Amazing, spacious, modern home!",Manhattan,Apartment,85.0,Entire home/apt,NaN,1.0,1.0,33.0,199.0,87.0
8568,3249777,13/08/2012,Stunning Light/Roof - Williamsburg,Brooklyn,Apartment,NaN,Private room,NaN,1.0,1.0,0.0,100.0,NaN
8576,3250450,13/08/2012,Location Marilda ( only for girls),Queens,Apartment,100.0,Private room,NaN,1.0,1.0,1.0,43.0,100.0
8616,3264033,15/08/2012,4Bedrooms / Roof Deck / Center NYC,Manhattan,Apartment,90.0,Entire home/apt,NaN,5.0,1.0,57.0,500.0,94.0
8805,3370169,25/08/2012,One Bedroom with your own bathroom,Brooklyn,Apartment,100.0,Private room,NaN,1.0,1.0,13.0,70.0,100.0
9183,3608781,18/09/2012,Inspiring spacious loft space,Brooklyn,Loft,95.0,Private room,NaN,1.0,1.0,39.0,111.0,95.0
9221,3633850,21/09/2012,Spacious Brooklyn NYC Rental,Brooklyn,House,100.0,Entire home/apt,NaN,5.0,1.0,2.0,300.0,100.0
9230,3637246,21/09/2012,Large Private Room by Central Park,Manhattan,Apartment,85.0,Private room,NaN,1.0,1.0,9.0,89.0,87.0
9490,3818092,9/10/2012,Gorgeous NYC Interior Designer Apt,Manhattan,Apartment,90.0,Entire home/apt,NaN,3.0,1.0,4.0,800.0,90.0
9510,3816303,9/10/2012,Astoria Room Close to Manhattan!!,Queens,Apartment,85.0,Private room,NaN,1.0,1.0,82.0,56.0,86.0
9595,3880573,15/10/2012,"""The Country"" & the NYC Waterfront!",Brooklyn,Apartment,90.0,Entire home/apt,NaN,3.0,1.0,124.0,160.0,91.0
9718,3956850,23/10/2012,NYC Astoria Big warm apartment,Queens,Apartment,100.0,Entire home/apt,NaN,1.0,1.0,2.0,89.0,100.0
9773,3983483,26/10/2012,"Luxury 1BR - Times Square, Theaters",Manhattan,Apartment,90.0,Entire,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
airbnb_non_null = airbnb.dropna()

In [28]:
#Unique

In [25]:
airbnb['Neighbourhood'].unique()

array(['Brooklyn', 'Manhattan', 'Queens', 'Bronx', 'Staten Island'],
      dtype=object)

In [26]:
airbnb['Zipcode'].nunique()
#will count how many unique zipcode adding 'n' before unique

152

In [ ]:
#Filtering data frames

In [6]:
airbnb

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
0,5162530,NaN,1 Bedroom in Prime Williamsburg,Brooklyn,Apartment,NaN,Entire home/apt,11249.0,1.0,1.0,0.0,145.0,NaN
1,33134899,NaN,"Sunny, Private room in Bushwick",Brooklyn,Apartment,NaN,Private room,11206.0,1.0,1.0,1.0,37.0,NaN
2,39608626,NaN,Sunny Room in Harlem,Manhattan,Apartment,NaN,Private room,10032.0,1.0,1.0,1.0,28.0,NaN
3,500,26/06/2008,Gorgeous 1 BR with Private Balcony,Manhattan,Apartment,NaN,Entire home/apt,10024.0,3.0,1.0,0.0,199.0,NaN
4,500,26/06/2008,Trendy Times Square Loft,Manhattan,Apartment,95.0,Private room,10036.0,3.0,1.0,39.0,549.0,96.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9769,3984304,26/10/2012,Beautiful Huge Sunny Brooklyn Loft,Brooklyn,Loft,90.0,Entire home/apt,11205.0,1.0,1.0,9.0,105.0,93.0
9770,3981805,26/10/2012,_Boutique East Village Flat,Manhattan,Apartment,90.0,Entire home/apt,10003.0,2.0,1.0,23.0,199.0,91.0
9771,3984166,26/10/2012,East Village 2 Bedroom Apartment,Manhattan,Apartment,100.0,Entire home/apt,10009.0,2.0,1.0,5.0,240.0,100.0
9772,3982378,26/10/2012,Perfect 2BD in the heart of it all!,Manhattan,Apartment,85.0,Entire home/apt,10019.0,2.0,1.0,5.0,400.0,88.0
9773,3983483,26/10/2012,"Luxury 1BR - Times Square, Theaters",Manhattan,Apartment,90.0,Entire,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
airbnb[airbnb['Price'].between(100,150)]

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
0,5162530,NaN,1 Bedroom in Prime Williamsburg,Brooklyn,Apartment,NaN,Entire home/apt,11249.0,1.0,1.0,0.0,145.0,NaN
5,1039,25/07/2008,Big Greenpoint 1BD w/ Skyline View,Brooklyn,Apartment,100.0,Entire home/apt,11222.0,1.0,1.0,4.0,149.0,100.0
16,2965,14/09/2008,Large Bedroom in 3-bedroom Apt.,Manhattan,Apartment,95.0,Private room,10025.0,1.0,1.0,52.0,145.0,99.0
17,3211,25/09/2008,"Elegant NYC, 10mins to Manhattan!",Queens,Apartment,90.0,Private room,11106.0,1.0,1.0,3.0,100.0,93.0
18,3227,26/09/2008,"Priv Apt,Garden,BBQ,A/C,BigTV,for 4",Manhattan,Apartment,85.0,Entire home/apt,10001.0,3.0,1.0,171.0,150.0,85.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9756,3974045,25/10/2012,Small studio near Central Park,Manhattan,Apartment,100.0,Entire home/apt,10023.0,1.0,1.0,2.0,110.0,100.0
9757,3970236,25/10/2012,Upper West Side by Central Park,Manhattan,Apartment,90.0,Entire home/apt,10024.0,1.0,1.0,7.0,129.0,90.0
9765,3974808,25/10/2012,Comfortable room near everything,Queens,Apartment,NaN,Private room,11105.0,1.0,1.0,0.0,150.0,NaN
9767,3979151,26/10/2012,"Charming 1BR@Clinton Hill,Brooklyn",Brooklyn,Apartment,100.0,Entire home/apt,11238.0,1.0,1.0,7.0,129.0,100.0
9769,3984304,26/10/2012,Beautiful Huge Sunny Brooklyn Loft,Brooklyn,Loft,90.0,Entire home/apt,11205.0,1.0,1.0,9.0,105.0,93.0

In [8]:
airbnb[airbnb['Beds'].between(3,5)]

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
3,500,26/06/2008,Gorgeous 1 BR with Private Balcony,Manhattan,Apartment,NaN,Entire home/apt,10024.0,3.0,1.0,0.0,199.0,NaN
4,500,26/06/2008,Trendy Times Square Loft,Manhattan,Apartment,95.0,Private room,10036.0,3.0,1.0,39.0,549.0,96.0
18,3227,26/09/2008,"Priv Apt,Garden,BBQ,A/C,BigTV,for 4",Manhattan,Apartment,85.0,Entire home/apt,10001.0,3.0,1.0,171.0,150.0,85.0
19,3226,26/09/2008,Great 3 Bed Apt Tribeca / Soho,Manhattan,Apartment,NaN,Entire home/apt,10013.0,3.0,1.0,0.0,700.0,NaN
28,3867,29/10/2008,3 bedroom apartment in Chinatown!,Manhattan,Apartment,80.0,Entire home/apt,10038.0,4.0,1.0,2.0,499.0,80.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9713,3958798,23/10/2012,NYC 3Bedrooms 2Bathrooms Sleeps 8,Manhattan,Apartment,80.0,Entire home/apt,10016.0,4.0,1.0,7.0,300.0,83.0
9714,3958798,23/10/2012,Nyc Penthouse 2BR Duplex Sleeps 6,Manhattan,Apartment,70.0,Entire home/apt,10016.0,3.0,1.0,16.0,175.0,74.0
9720,3955733,23/10/2012,Mint Condition 1989 Camper Home,Queens,Camper/RV,85.0,Entire home/apt,11101.0,4.0,1.0,3.0,99.0,87.0
9721,3955733,23/10/2012,Rustic Camper in Heart of LIC,Queens,Camper/RV,80.0,Entire home/apt,11101.0,4.0,1.0,27.0,119.0,81.0
9723,3951741,23/10/2012,Spacious NYC Flat in Great Area,Queens,House,80.0,Entire home/apt,11372.0,3.0,1.0,17.0,125.0,83.0

In [9]:
airbnb[airbnb['Beds'].between(3,5)].value_counts()

Host Id  Host Since  Name                                 Neighbourhood  Property Type  Review Scores Rating (bin)  Room Type        Zipcode  Beds  Number of Records  Number Of Reviews  Price  Review Scores Rating
500      26/06/2008  Trendy Times Square Loft             Manhattan      Apartment      95.0                        Private room     10036.0  3.0   1.0                39.0               549.0  96.0                    1
1699273  4/02/2012   TIMES SQUARE! 5TH AVE! GREAT SPOT!!  Manhattan      Apartment      95.0                        Entire home/apt  10017.0  3.0   1.0                23.0               235.0  95.0                    1
1871955  6/03/2012   Centrally located, Sunny BK Escape!  Brooklyn       Apartment      90.0                        Entire home/apt  11211.0  3.0   1.0                30.0               190.0  94.0                    1
1873589  6/03/2012   3-Bed Brownstone on Beautiful Block  Brooklyn       House          90.0                        Entire home/apt  11213.0  3.0   1.0                14.0               311.0  94.0                    1
1884204  8/03/2012   Elegant Stuyvesant Heights Retreat   Brooklyn       Apartment      95.0                        Entire home/apt  11233.0  3.0   1.0                88.0               105.0  95.0                    1
                                                                                                                                                                                                                        ..
565905   7/05/2011   ELEGANT NY APARTMENT & 2 BEDROOM     Manhattan      Apartment      85.0                        Entire home/apt  10036.0  3.0   1.0                106.0              169.0  89.0                    1
                     GARDEN HOUSE WITH 2 BEDROOM          Manhattan      Apartment      85.0                        Entire home/apt  10019.0  4.0   1.0                69.0               159.0  88.0                    1
574489   10/05/2011  2-Bedroom Manhattan Getaway!         Manhattan      Apartment      95.0                        Entire home/apt  10022.0  3.0   1.0                69.0               200.0  98.0                    1
579495   11/05/2011  Large Park Slope Townhouse Duplex    Brooklyn       House          90.0                        Entire home/apt  11215.0  3.0   1.0                26.0               242.0  90.0                    1
3958798  23/10/2012  Nyc Penthouse 2BR Duplex Sleeps 6    Manhattan      Apartment      70.0                        Entire home/apt  10016.0  3.0   1.0                16.0               175.0  74.0                    1
Name: count, Length: 903, dtype: int64

In [ ]:
airbnb[airbnb['Price'].between(100,150)] & airbnb['Beds'].between(3,5)

In [16]:
potentialapartment = airbnb[(airbnb['Property Type'] == 'Apartment') & (airbnb['Neighbourhood'] == 'Brooklyn') & (airbnb['Price'] < 100)]

In [17]:
potentialapartment

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
1,33134899,NaN,"Sunny, Private room in Bushwick",Brooklyn,Apartment,NaN,Private room,11206.0,1.0,1.0,1.0,37.0,NaN
7,2078,15/08/2008,"Colorful, quiet, & near the subway!",Brooklyn,Apartment,90.0,Private room,11201.0,1.0,1.0,80.0,90.0,94.0
15,2881,10/09/2008,Newly renovated historic brownstone,Brooklyn,Apartment,95.0,Private room,11216.0,1.0,1.0,32.0,75.0,95.0
23,3563,10/10/2008,16' x 11' Furnished BR with Balcony,Brooklyn,Apartment,100.0,Private room,11220.0,1.0,1.0,1.0,40.0,100.0
64,7356,3/02/2009,BlissArtsSpace!,Brooklyn,Apartment,90.0,Private room,11216.0,1.0,1.0,41.0,50.0,90.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9747,3968794,24/10/2012,Great room in nice apartment,Brooklyn,Apartment,95.0,Private room,11219.0,1.0,1.0,5.0,55.0,95.0
9748,3968794,24/10/2012,New building private budget room,Brooklyn,Apartment,90.0,Private room,11219.0,1.0,1.0,8.0,50.0,90.0
9749,3968794,24/10/2012,Private room in brand new building1,Brooklyn,Apartment,95.0,Private room,11219.0,1.0,1.0,9.0,55.0,95.0
9759,3977023,25/10/2012,"Cozy Room in Clinton Hill, Bk",Brooklyn,Apartment,NaN,Private room,11205.0,1.0,1.0,0.0,70.0,NaN
9760,3977693,25/10/2012,Room: King size bed + private bath,Brooklyn,Apartment,95.0,Private room,11237.0,1.0,1.0,8.0,55.0,95.0

In [25]:
salaries[((salaries['job_title'] == 'Data Engineer') 
          | (salaries['job_title'] == 'Data Analyst')) 
& (salaries['salary_in_usd'] > 200000)]['job_title'].value_counts()
#job titles filtering data engineer & analyst titles how many makes over $200K

job_title
Data Engineer    336
Data Analyst      38
Name: count, dtype: int64

In [29]:
#using isin method
salaries[(salaries['job_title'].isin(['Data Engineer', 'Data Analyst', 'Data Scientist']))
           
& (salaries['salary_in_usd'] > 200000)]['job_title'].value_counts()

job_title
Data Scientist    377
Data Engineer     336
Data Analyst       38
Name: count, dtype: int64

In [31]:
#isin airbnb
airbnb [airbnb['Property Type'].isin (['Bed & Breakfast', 'Loft', 'Cabin', 'Villa', 'Lighthouse'])]

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
50,5926,2/01/2009,Nice Apt Near Columbia University,Manhattan,Bed & Breakfast,85.0,Private room,10031.0,1.0,1.0,68.0,55.0,86.0
59,7351,2/02/2009,2 Floor Loft room in Artist Studio,Brooklyn,Loft,80.0,Private room,11215.0,2.0,1.0,3.0,74.0,80.0
60,7351,2/02/2009,Spacious Loft Room in Artist Studio,Brooklyn,Loft,NaN,Private room,11215.0,2.0,1.0,0.0,74.0,NaN
61,7351,2/02/2009,Spacious room in Huge artist Loft,Brooklyn,Loft,100.0,Private room,11215.0,1.0,1.0,2.0,84.0,100.0
92,8057,17/02/2009,HUGE MODERN LUXURY-2bed/2bath+patio,Manhattan,Loft,100.0,Entire home/apt,10009.0,2.0,1.0,5.0,600.0,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9752,3968209,24/10/2012,Room in a cozy loft,Manhattan,Loft,85.0,Private room,10013.0,1.0,1.0,21.0,100.0,88.0
9753,3968209,24/10/2012,Soho loft on grand and Crosby st.,Manhattan,Loft,85.0,Private room,10013.0,1.0,1.0,22.0,100.0,88.0
9754,3968209,24/10/2012,Soho room in a huge loft on crosby,Manhattan,Loft,80.0,Private room,10013.0,1.0,1.0,11.0,150.0,80.0
9758,3977494,25/10/2012,Cozy Soho Studio Loft Apt Bleecker,Manhattan,Loft,100.0,Entire home/apt,10012.0,1.0,1.0,1.0,187.0,100.0
9769,3984304,26/10/2012,Beautiful Huge Sunny Brooklyn Loft,Brooklyn,Loft,90.0,Entire home/apt,11205.0,1.0,1.0,9.0,105.0,93.0

In [32]:
#Creating a new column for data set ~
#if we add this ~ to (airbnb [airbnb['Property Type'].isin (['Bed & Breakfast', 'Loft', 'Cabin', 'Villa', 'Lighthouse'])] 
#it's going to show every thing else from what you listed

In [34]:
#for example 
airbnb [~airbnb['Property Type'].isin (['Bed & Breakfast', 'Loft', 'Cabin', 'Villa', 'Lighthouse'])]

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
0,5162530,NaN,1 Bedroom in Prime Williamsburg,Brooklyn,Apartment,NaN,Entire home/apt,11249.0,1.0,1.0,0.0,145.0,NaN
1,33134899,NaN,"Sunny, Private room in Bushwick",Brooklyn,Apartment,NaN,Private room,11206.0,1.0,1.0,1.0,37.0,NaN
2,39608626,NaN,Sunny Room in Harlem,Manhattan,Apartment,NaN,Private room,10032.0,1.0,1.0,1.0,28.0,NaN
3,500,26/06/2008,Gorgeous 1 BR with Private Balcony,Manhattan,Apartment,NaN,Entire home/apt,10024.0,3.0,1.0,0.0,199.0,NaN
4,500,26/06/2008,Trendy Times Square Loft,Manhattan,Apartment,95.0,Private room,10036.0,3.0,1.0,39.0,549.0,96.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9768,3983140,26/10/2012,Light-Filled Prospect Height Apt.,Brooklyn,Apartment,95.0,Entire home/apt,11238.0,1.0,1.0,38.0,200.0,99.0
9770,3981805,26/10/2012,_Boutique East Village Flat,Manhattan,Apartment,90.0,Entire home/apt,10003.0,2.0,1.0,23.0,199.0,91.0
9771,3984166,26/10/2012,East Village 2 Bedroom Apartment,Manhattan,Apartment,100.0,Entire home/apt,10009.0,2.0,1.0,5.0,240.0,100.0
9772,3982378,26/10/2012,Perfect 2BD in the heart of it all!,Manhattan,Apartment,85.0,Entire home/apt,10019.0,2.0,1.0,5.0,400.0,88.0
9773,3983483,26/10/2012,"Luxury 1BR - Times Square, Theaters",Manhattan,Apartment,90.0,Entire,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#creating drop columns, want to add an column that says for example 'New York'

In [35]:
airbnb ['City'] = 'New York'

In [36]:
airbnb

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating,City
0,5162530,NaN,1 Bedroom in Prime Williamsburg,Brooklyn,Apartment,NaN,Entire home/apt,11249.0,1.0,1.0,0.0,145.0,NaN,New York
1,33134899,NaN,"Sunny, Private room in Bushwick",Brooklyn,Apartment,NaN,Private room,11206.0,1.0,1.0,1.0,37.0,NaN,New York
2,39608626,NaN,Sunny Room in Harlem,Manhattan,Apartment,NaN,Private room,10032.0,1.0,1.0,1.0,28.0,NaN,New York
3,500,26/06/2008,Gorgeous 1 BR with Private Balcony,Manhattan,Apartment,NaN,Entire home/apt,10024.0,3.0,1.0,0.0,199.0,NaN,New York
4,500,26/06/2008,Trendy Times Square Loft,Manhattan,Apartment,95.0,Private room,10036.0,3.0,1.0,39.0,549.0,96.0,New York
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9769,3984304,26/10/2012,Beautiful Huge Sunny Brooklyn Loft,Brooklyn,Loft,90.0,Entire home/apt,11205.0,1.0,1.0,9.0,105.0,93.0,New York
9770,3981805,26/10/2012,_Boutique East Village Flat,Manhattan,Apartment,90.0,Entire home/apt,10003.0,2.0,1.0,23.0,199.0,91.0,New York
9771,3984166,26/10/2012,East Village 2 Bedroom Apartment,Manhattan,Apartment,100.0,Entire home/apt,10009.0,2.0,1.0,5.0,240.0,100.0,New York
9772,3982378,26/10/2012,Perfect 2BD in the heart of it all!,Manhattan,Apartment,85.0,Entire home/apt,10019.0,2.0,1.0,5.0,400.0,88.0,New York
9773,3983483,26/10/2012,"Luxury 1BR - Times Square, Theaters",Manhattan,Apartment,90.0,Entire,NaN,NaN,NaN,NaN,NaN,NaN,New York

In [ ]:
#dropping a column

In [37]:
airbnb.drop(labels = 'City' , axis = 1, inplace = True)

In [38]:
airbnb

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
0,5162530,NaN,1 Bedroom in Prime Williamsburg,Brooklyn,Apartment,NaN,Entire home/apt,11249.0,1.0,1.0,0.0,145.0,NaN
1,33134899,NaN,"Sunny, Private room in Bushwick",Brooklyn,Apartment,NaN,Private room,11206.0,1.0,1.0,1.0,37.0,NaN
2,39608626,NaN,Sunny Room in Harlem,Manhattan,Apartment,NaN,Private room,10032.0,1.0,1.0,1.0,28.0,NaN
3,500,26/06/2008,Gorgeous 1 BR with Private Balcony,Manhattan,Apartment,NaN,Entire home/apt,10024.0,3.0,1.0,0.0,199.0,NaN
4,500,26/06/2008,Trendy Times Square Loft,Manhattan,Apartment,95.0,Private room,10036.0,3.0,1.0,39.0,549.0,96.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9769,3984304,26/10/2012,Beautiful Huge Sunny Brooklyn Loft,Brooklyn,Loft,90.0,Entire home/apt,11205.0,1.0,1.0,9.0,105.0,93.0
9770,3981805,26/10/2012,_Boutique East Village Flat,Manhattan,Apartment,90.0,Entire home/apt,10003.0,2.0,1.0,23.0,199.0,91.0
9771,3984166,26/10/2012,East Village 2 Bedroom Apartment,Manhattan,Apartment,100.0,Entire home/apt,10009.0,2.0,1.0,5.0,240.0,100.0
9772,3982378,26/10/2012,Perfect 2BD in the heart of it all!,Manhattan,Apartment,85.0,Entire home/apt,10019.0,2.0,1.0,5.0,400.0,88.0
9773,3983483,26/10/2012,"Luxury 1BR - Times Square, Theaters",Manhattan,Apartment,90.0,Entire,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
airbnb.drop(labels = 'Number of Records' , axis = 1, inplace = True)

In [40]:
airbnb

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number Of Reviews,Price,Review Scores Rating
0,5162530,NaN,1 Bedroom in Prime Williamsburg,Brooklyn,Apartment,NaN,Entire home/apt,11249.0,1.0,0.0,145.0,NaN
1,33134899,NaN,"Sunny, Private room in Bushwick",Brooklyn,Apartment,NaN,Private room,11206.0,1.0,1.0,37.0,NaN
2,39608626,NaN,Sunny Room in Harlem,Manhattan,Apartment,NaN,Private room,10032.0,1.0,1.0,28.0,NaN
3,500,26/06/2008,Gorgeous 1 BR with Private Balcony,Manhattan,Apartment,NaN,Entire home/apt,10024.0,3.0,0.0,199.0,NaN
4,500,26/06/2008,Trendy Times Square Loft,Manhattan,Apartment,95.0,Private room,10036.0,3.0,39.0,549.0,96.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9769,3984304,26/10/2012,Beautiful Huge Sunny Brooklyn Loft,Brooklyn,Loft,90.0,Entire home/apt,11205.0,1.0,9.0,105.0,93.0
9770,3981805,26/10/2012,_Boutique East Village Flat,Manhattan,Apartment,90.0,Entire home/apt,10003.0,2.0,23.0,199.0,91.0
9771,3984166,26/10/2012,East Village 2 Bedroom Apartment,Manhattan,Apartment,100.0,Entire home/apt,10009.0,2.0,5.0,240.0,100.0
9772,3982378,26/10/2012,Perfect 2BD in the heart of it all!,Manhattan,Apartment,85.0,Entire home/apt,10019.0,2.0,5.0,400.0,88.0
9773,3983483,26/10/2012,"Luxury 1BR - Times Square, Theaters",Manhattan,Apartment,90.0,Entire,NaN,NaN,NaN,NaN,NaN

In [41]:
#Generating Dynamic columns
#column dependent on another column

In [47]:
#example
sales

,ProductKey,product,product_subcategory,OrderDateKey,CalendarYear,SalesTerritoryRegion,SalesTerritoryCountry,SalesOrderNumber,SalesAmount,TaxAmt,Freight
0,310,"Road-150 Red, 62",Road Bikes,20101229,2010,Canada,Canada,SO43697,3578.2700,286.2616,89.4568
1,346,"Mountain-100 Silver, 44",Mountain Bikes,20101229,2010,France,France,SO43698,3399.9900,271.9992,84.9998
2,346,"Mountain-100 Silver, 44",Mountain Bikes,20101229,2010,Northwest,United States,SO43699,3399.9900,271.9992,84.9998
3,336,"Road-650 Black, 62",Road Bikes,20101229,2010,Southwest,United States,SO43700,699.0982,55.9279,17.4775
4,346,"Mountain-100 Silver, 44",Mountain Bikes,20101229,2010,Australia,Australia,SO43701,3399.9900,271.9992,84.9998
...,...,...,...,...,...,...,...,...,...,...,...
60393,485,Fender Set - Mountain,Fenders,20140128,2014,Canada,Canada,SO75122,21.9800,1.7584,0.5495
60394,225,AWC Logo Cap,Caps,20140128,2014,Canada,Canada,SO75122,8.9900,0.7192,0.2248
60395,485,Fender Set - Mountain,Fenders,20140128,2014,Canada,Canada,SO75123,21.9800,1.7584,0.5495
60396,486,All-Purpose Bike Stand,Bike Stands,20140128,2014,Canada,Canada,SO75123,159.0000,12.7200,3.9750
60397,225,AWC Logo Cap,Caps,20140128,2014,Canada,Canada,SO75123,8.9900,0.7192,0.2248

In [50]:
sales['Sales with Tax and Freight'] = sales['SalesAmount'] + sales['TaxAmt'] + sales['Freight']

In [51]:
sales

,ProductKey,product,product_subcategory,OrderDateKey,CalendarYear,SalesTerritoryRegion,SalesTerritoryCountry,SalesOrderNumber,SalesAmount,TaxAmt,Freight,Sales with Tax and Freight
0,310,"Road-150 Red, 62",Road Bikes,20101229,2010,Canada,Canada,SO43697,3578.2700,286.2616,89.4568,3953.9884
1,346,"Mountain-100 Silver, 44",Mountain Bikes,20101229,2010,France,France,SO43698,3399.9900,271.9992,84.9998,3756.9890
2,346,"Mountain-100 Silver, 44",Mountain Bikes,20101229,2010,Northwest,United States,SO43699,3399.9900,271.9992,84.9998,3756.9890
3,336,"Road-650 Black, 62",Road Bikes,20101229,2010,Southwest,United States,SO43700,699.0982,55.9279,17.4775,772.5036
4,346,"Mountain-100 Silver, 44",Mountain Bikes,20101229,2010,Australia,Australia,SO43701,3399.9900,271.9992,84.9998,3756.9890
...,...,...,...,...,...,...,...,...,...,...,...,...
60393,485,Fender Set - Mountain,Fenders,20140128,2014,Canada,Canada,SO75122,21.9800,1.7584,0.5495,24.2879
60394,225,AWC Logo Cap,Caps,20140128,2014,Canada,Canada,SO75122,8.9900,0.7192,0.2248,9.9340
60395,485,Fender Set - Mountain,Fenders,20140128,2014,Canada,Canada,SO75123,21.9800,1.7584,0.5495,24.2879
60396,486,All-Purpose Bike Stand,Bike Stands,20140128,2014,Canada,Canada,SO75123,159.0000,12.7200,3.9750,175.6950
60397,225,AWC Logo Cap,Caps,20140128,2014,Canada,Canada,SO75123,8.9900,0.7192,0.2248,9.9340

In [57]:
#difference between high and low (volatilty)
#example
eth['Volatility'] = eth['High'] - eth['Low']

In [56]:
eth

,Coin,Price,Open,High,Low,Vol.,Change %,Volatility
Date,,,,,,,,
10/02/2024,ETH,2508.31,2486.24,2514.83,2483.50,504.80K,0.89%,31.33
9/02/2024,ETH,2486.24,2419.56,2522.96,2419.16,540.92K,2.76%,103.80
8/02/2024,ETH,2419.56,2424.66,2461.00,2412.01,350.33K,-0.21%,48.99
7/02/2024,ETH,2424.64,2372.65,2443.71,2354.46,355.40K,2.19%,89.25
6/02/2024,ETH,2372.65,2301.83,2390.53,2299.24,381.23K,3.08%,91.29
...,...,...,...,...,...,...,...,...
5/01/2020,ETH,135.59,134.32,138.33,134.32,12.19M,0.94%,4.01
4/01/2020,ETH,134.33,134.30,135.57,132.76,11.16M,0.04%,2.81
3/01/2020,ETH,134.27,127.19,134.86,126.05,15.67M,5.56%,8.81
2/01/2020,ETH,127.19,130.75,130.77,126.74,11.45M,-2.72%,4.03
1/01/2020,ETH,130.75,129.21,132.97,128.81,10.35M,1.19%,4.16

In [61]:
sales['Sales Type'] = sales['product_subcategory'] + ' in ' + sales['SalesTerritoryCountry']

In [62]:
sales

,ProductKey,product,product_subcategory,OrderDateKey,CalendarYear,SalesTerritoryRegion,SalesTerritoryCountry,SalesOrderNumber,SalesAmount,TaxAmt,Freight,Sales with Tax and Freight,Sales Type
0,310,"Road-150 Red, 62",Road Bikes,20101229,2010,Canada,Canada,SO43697,3578.2700,286.2616,89.4568,3953.9884,Road Bikes in Canada
1,346,"Mountain-100 Silver, 44",Mountain Bikes,20101229,2010,France,France,SO43698,3399.9900,271.9992,84.9998,3756.9890,Mountain Bikes in France
2,346,"Mountain-100 Silver, 44",Mountain Bikes,20101229,2010,Northwest,United States,SO43699,3399.9900,271.9992,84.9998,3756.9890,Mountain Bikes in United States
3,336,"Road-650 Black, 62",Road Bikes,20101229,2010,Southwest,United States,SO43700,699.0982,55.9279,17.4775,772.5036,Road Bikes in United States
4,346,"Mountain-100 Silver, 44",Mountain Bikes,20101229,2010,Australia,Australia,SO43701,3399.9900,271.9992,84.9998,3756.9890,Mountain Bikes in Australia
...,...,...,...,...,...,...,...,...,...,...,...,...,...
60393,485,Fender Set - Mountain,Fenders,20140128,2014,Canada,Canada,SO75122,21.9800,1.7584,0.5495,24.2879,Fenders in Canada
60394,225,AWC Logo Cap,Caps,20140128,2014,Canada,Canada,SO75122,8.9900,0.7192,0.2248,9.9340,Caps in Canada
60395,485,Fender Set - Mountain,Fenders,20140128,2014,Canada,Canada,SO75123,21.9800,1.7584,0.5495,24.2879,Fenders in Canada
60396,486,All-Purpose Bike Stand,Bike Stands,20140128,2014,Canada,Canada,SO75123,159.0000,12.7200,3.9750,175.6950,Bike Stands in Canada
60397,225,AWC Logo Cap,Caps,20140128,2014,Canada,Canada,SO75123,8.9900,0.7192,0.2248,9.9340,Caps in Canada